ENVIRONMENT=development
PROJECT_NAME=vocpi
NO_AUTH=False
PROTOCOL=https
PG_HOST=<pg host>
PG_PORT=5432
PG_DB=postgres
PG_USERNAME=postgres
PG_PASSWORD=<password>
VALKEY_CLUSTER=False
VALKEY_HOST=localhost
VALKEY_PORT=6379
VALKEY_TLS=False
REDIS_PASSWORD=<password>
REDIS_HOST=localhost
REDIS_PORT=6379