ENVIRONMENT=development
PROJECT_NAME=vocpi
NO_AUTH=False
PROTOCOL=https
PG_HOST=<pg host>
PG_PORT=5432
PG_DB=postgres
PG_USERNAME=postgres
PG_PASSWORD=<password>
LOCATION_REFRESH_DELAY_SEC=3.1
RFID_FAKE_TOKEN_FILE_PATH=src/data/rfid_fake_token.json
CALLBACK_BASE_URL=https://test.verifone-ev.com/api/v1
